@import "tailwindcss";

@font-face {
  font-family: 'Monaspace Neon';
  src: url('/fonts/MonaspaceNeon-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: 'Monaspace Neon';
  src: url('/fonts/MonaspaceNeon-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: block;
}
@font-face {
  font-family: 'Fira Code';
  src: url('/fonts/FiraCode-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: 'Fira Code';
  src: url('/fonts/FiraCode-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: block;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: block;
}
@font-face {
  font-family: 'Cascadia Code';
  src: url('/fonts/CascadiaCode-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: 'Cascadia Code';
  src: url('/fonts/CascadiaCode-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: block;
}

:root {
  --background: #030712;
  --foreground: #e5e7eb;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow: hidden;
}
